body,html{
	margin: 0px;
	padding: 0px;
}
#box{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-top: solid 5px #BDC915;
	border-bottom: solid 10px #BDC915;
	background-image: url(../img/bg-desk.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-desk.jpg', sizingMethod='scale');
}
#box-logo{
	width: 300px;
	margin: auto;
}
#box-logo > img{
	width: 100%;
}
#box-erro{
	display: none;
	font-family: Arial, 'sans-serif';
	font-size: 13px;
	color: #F00;
	border: #F00;
	background-color: #EDD;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
#box-form-loading{
	display: none;
	position: absolute;
	left: 50%;
	top: 60%;
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	z-index: 2;
}
#box-form{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -265px;
	width: 600px;
	height: 400px;
	background-color: #EEE;
	border: solid 5px #BDC915;
	padding: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


@media (max-width: 720px) {
	#box-form{
		margin-left: -220px;
		width: 440px;
		height: 420px;
	}
}
@media (max-width: 480px) {
	
	#box{
		background-image: url(../img/bg-mobile.jpg);
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-mobile.jpg', sizingMethod='scale');
	}
	
	#box-logo{
		width: 200px;
	}
	#box-form{
		padding: 20px;
		margin-left: -140px;
		margin-top: -260px;
		width: 280px;
		height: 445px;
	}
	#box-form .field{
		margin-top: 10px;
	}
}
@media (max-width: 320px) {
	
}

.hide {
	display: none;
}